/* Animaties die afspelen bij het laden van pagina */
/* Bron: https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-300%);
    }

    90% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(300%);
    }

    90% {
        transform: translateX(-10%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-300%);
    }

    90% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(300%);
    }

    90% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}



/* SVG styling */
/* Bron pointer-events: https://stackoverflow.com/questions/3680429/click-through-div-to-underlying-elements */

figure > svg:nth-of-type(1) {
    position: fixed;
    bottom: 19rem;
    left: 60%;
    z-index: 1;
    height: 400px;
<<<<<<< HEAD
    width: 274 px;
=======
    width: 280px;
>>>>>>> parent of afeed53... Blinds width fix
    display: inline-block;
    animation: 1s ease-out 0s 1 slideInFromRight;
    transition: transform .5s ease;
}

figure > svg:nth-of-type(2) {
    position: fixed;
    bottom: 0;
    left: 0;
    fill: #efa562;
    z-index: 6;
    pointer-events: none;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

figure > svg:nth-of-type(3) {
    position: fixed;
    bottom: 0;
    z-index: 7;
    height: 200px;
    width: 480px;
    display: inline-block;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

figure > svg:nth-of-type(4) {
    position: fixed;
    bottom: 14rem;
    left: 60%;
    z-index: 0;
    height: 400px;
    width: 280px;
    display: inline-block;
    animation: 1s ease-out 0s 1 slideInFromRight;
    pointer-events: none;
}

figure > svg:nth-of-type(3):hover {
    transform: rotate(2deg);
}

.closedBlinds {
    transform: translate(0px, 65px);
    transition: transform .5s ease;
}

.openBlinds {
    transform: translate(0px, 0px);
    transition: transform .5s ease;
}

.blindsPartOne {
    height: 110px;
    transition: height .5s ease;
}

.blindsPartTwo {
    height: 45px;
    transition: height .5s ease;
}

.dark {
    background-color: #427884;
    transition: background-color .5s ease;
}

.light {
    background-color: #d7edf4;
    transition: background-color .5s ease;
}

figure > svg:nth-of-type(1) > path:hover {
    fill: #6882bc;
}



/* Automatisch gegenereerde classes voor SVG vanuit illustrator */

.cls-1 {
    isolation: isolate;
}

.cls-2 {
    fill: #775a43;
}

.cls-3 {
    fill: #405d76;
}

.cls-4 {
    fill: #d4d4d4;
    opacity: 0.55;
    mix-blend-mode: multiply;
}

.cls-5 {
    fill: #7e6961;
}

.cls-6 {
    fill: #43607b;
}

.cls-7 {
    fill: #365065;
}

.cls-8 {
    fill: #4b6881;
}

.cls-9 {
    isolation: isolate;
}

.cls-10 {
    fill: #d4d4d4;
    opacity: 0.35;
    mix-blend-mode: multiply;
}

.cls-11 {
    fill: #85c1d0;
}

.cls-12 {
    fill: #fff;
}



/* Algemene CSS */

* {
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
}

nav {
    display: none;
    z-index: 20;
}

body > ul {
    display: none;
}

section {
    display: flex;
}

figure {
    text-align: center;
}

p {
    position: relative;
    top: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20rem;
    color: red;
    transition: text-shadow .3s ease, top .5s ease, left .5s ease, font-size .5s ease, mix-blend-mode .5s ease;
    animation: 1s ease-out 0s 1 slideInFromTop;
    user-select: none;
}

p:hover {
    text-shadow: 0 0 10px #000000;
}

section > p:nth-of-type(1) {
    z-index: 5;
}

section > p:nth-of-type(2) {
    margin-left: -.7rem;
    z-index: 4;
}

section > p:nth-of-type(3) {
    margin-left: -1.2rem;
    z-index: 3;
}

section > p:nth-of-type(4) {
    margin-left: -1.4rem;
    z-index: 2;
}

section > p:nth-of-type(5) {
    margin-left: -1.8rem;
    z-index: 1;
}

.selected {
    text-shadow: 0 0 10px #000000;
}

.blend {
    mix-blend-mode: multiply;
}



/* Kleur classes om naar te switchen */

@keyframes blue {
    100% {
        color: blue;
    }
}

.blue {
    animation: blue .5s forwards;
}

@keyframes red {
    100% {
        color: red;
    }
}

.red {
    animation: red .5s forwards;
}

@keyframes yellow {
    100% {
        color: yellow;
    }
}

.yellow {
    animation: yellow .5s forwards;
}

@keyframes green {
    100% {
        color: green;
    }
}

.green {
    animation: green .5s forwards;
}

@keyframes purple {
    100% {
        color: purple;
    }
}

.purple {
    animation: purple .5s forwards;
}

@keyframes orange {
    100% {
        color: orange;
    }
}

.orange {
    animation: orange .5s forwards;
}



/* Media query voor schaalbaarheid */

@media (max-width: 648px) {
    figure > svg:nth-of-type(3) {
    bottom: 62px;
}

figure > svg:nth-of-type(2) {
    bottom: 62px;
}
    
    p {
        font-size: 15rem;
    }

    section > p:nth-of-type(2) {
        margin-left: -.4rem;
    }

    section > p:nth-of-type(3) {
        margin-left: -.9rem;
    }

    section > p:nth-of-type(4) {
        margin-left: -1.1rem;
    }

    section > p:nth-of-type(5) {
        margin-left: -1.4rem;
    }
    
    body {
        margin: 0;
        padding: 0;
    }

    .visible {
        display: flex;
        height: 61px;
    }


    /* Submenu one */
    body > ul {
        background-color: #222;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 61px;
        width: 100%;
        justify-content: center;
        flex-grow: 1;
        height: 0px;
        z-index: 20;
        opacity: .9;
    }
    
    body > ul li {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        align-items: center;
    }
    
    body > ul:first-of-type li:nth-of-type(1) {
        background-color: red;
    }
    
    body > ul:first-of-type li:nth-of-type(2) {
        background-color: orange;
    }
    
    body > ul:first-of-type li:nth-of-type(3) {
        background-color: yellow;
    }
    
    body > ul:first-of-type li:nth-of-type(4) {
        background-color: green;
    }
    
    body > ul:first-of-type li:nth-of-type(5) {
        background-color: purple;
    }
    
    body > ul:first-of-type li:nth-of-type(6) {
        background-color: blue;
    }


    /* Main nav */
    nav {
        display: block;
        background-color: #333;
        margin: 0;
        padding: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-grow: 1;
    }

    nav ul li {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        border-right: 1px solid;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    li > svg {
        width: 25px;
        height: 30px;
        fill: white;
        pointer-events: none;
        margin: 1em;
    }
}